body {
    margin: 0px;
    padding: 0px;
    background-color: #011627;
    color: #fdfffc;
    text-align: center;
    background-image: url(https://i.guim.co.uk/img/media/8d904ba5091c05f48cd173406dfa974244e27732/93_193_4090_2454/master/4090.jpg?width=700&quality=85&auto=format&fit=max&s=c6ae88f8a374b81a169a980292bab24e);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h1 {
    font-size: 45px;
}

input {
    width: 75px;
    height: 50px;
    font-size: 45px;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    color: black;
    border-style: none;
}

.btn:hover {
    background-color: yellow;
    cursor: pointer;
}